<div class="main__file">
  <ul class="nav nav-tabs main__file__tabs" role="tablist">
    <li ui-sref-active-eq="active">
      <a ui-sref="main.file({id: file._id })">
        View
      </a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="main.file.use({id: file._id })">
        Use
      </a>
    </li>
  </ul>
  <div class="main__file__heading">
    <div class="input-group">
      <input type="text" class="form-control" value="{{rawFilePath()}}" readonly />
      <span class="input-group-btn">
        <a class="btn btn-default" type="button" href="{{rawFilePath()}}" target="_blank">
          Raw
        </a>
      </span>
    </div>
  </div>
  <div ng-class="{ 'main__file__content--readonly': !secret }" class="main__file__content" ui-view>
    <form name="editorForm" ng-submit="saveFile()">
      <div class="main__file__content__pre"
           ui-ace="{mode: 'json'}"
           readonly="{{!secret}}"
           required
           ng-model="$parent.content">
      </div>

      <div class="main__file__content__footer" ng-if="secret">
        <button ng-disabled="!editorForm.$valid || !fileChanged()" class="btn btn-primary btn-lg main__file__content__footer__save">
          Update
        </button>
      </div>
    </form>
  </div>
</div>
