<div class="main__file">
  <ul class="nav nav-tabs main__file__tabs" role="tablist">
    <li ui-sref-active-eq="active">
      <a ui-sref="main.file({id: file._id })">
        View
      </a>
    </li>
    <li ui-sref-active="active" ng-if="secret">
      <a ui-sref="main.file.edit({id: file._id, secret: secret })">
        Edit
      </a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="main.file.use({id: file._id })">
        Use
      </a>
    </li>
  </ul>
  <div class="main__file__heading">
    <div class="input-group">
      <input type="text" class="form-control" value="{{rawFilePath()}}" readonly />
      <span class="input-group-btn">
        <a class="btn btn-default" type="button" href="{{rawFilePath()}}" target="_blank">
          Raw
        </a>
      </span>
    </div>
  </div>
  <div class="main__file__content" ui-view>
    <div class="main__file__content__pre"
         ui-ace="{mode: 'json', theme: 'tomorrow'}"
         readonly="true"
         ng-model="file.content"></div>
  </div>
</div>
