.main__file__table {

  &--has-nested {
    overflow: hidden;

    .main__file__table__table-view {
      position: relative;
      z-index:50;
      filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
    }
  }


  &__nested {
    z-index: @zindex-modal-background;
    position: absolute;
    overflow: auto;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: fade(@modal-backdrop-bg, @modal-backdrop-opacity*100);
    white-space: nowrap;
    text-align:right;


    &__overlay {
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
    }

    &__item {

      width: 500px;
      margin:0;
      overflow: hidden;
      display: inline-block;
      vertical-align:top;

      .transition(0.8s width);

      &.ng-leave.ng-leave-active,
      &.ng-enter {
        width:0%;
      }

      &.ng-leave,
      &.ng-enter.ng-enter-active {
        width:500px;
      }

      &:first-child {
        margin-left:50%;
      }

      &__panel {
        .modal-content();
        text-align:left;
        white-space: normal;
        position:relative;
        width: 500px - 20px;
        margin: 10px;
        z-index: @zindex-modal-background + 10;
        .transition(0.8s margin);

        &--disabled {
          filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
        }

        &--disabled &__overlay {
          z-index: @zindex-modal-background + 20;
          position:absolute;
          top:0;
          bottom:0;
          left:0;
          right:0;
          background-color: fade(@modal-backdrop-bg, @modal-backdrop-opacity*100);
          cursor: pointer;
        }


        &__header {
          color:contrast(@brand-secondary);
          background: @brand-secondary;
          padding:10px;
          border-bottom:1px solid contrast(@brand-secondary);
          text-align: left;

          &__close,
          &__close:hover {
            border:1px solid white;
            color:contrast(@brand-secondary);
          }

        }

        &__wrapper {

          overflow: auto;
          overflow-y: hidden;

          &__table-view {
            display: block;

            .table-view__error {
              font-size:1.4em;
              position:static;
              padding:20px;
              .translate(0,0);
            }
          }
        }
      }

    }

  }

}
