.main__file__table {

  &--has-nested {
    overflow: hidden;
    &__table-view {
      position: relative;
      z-index:50;
    }
  }


  &__nested {
    z-index: @zindex-modal-background;
    position: absolute;
    overflow: auto;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: fade(@modal-backdrop-bg, @modal-backdrop-opacity*100);
    white-space: nowrap;
    text-align:right;

    &__overlay {
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
    }

    &__panel {
      .modal-content();
      text-align:left;
      white-space: normal;
      display: inline-block;
      position:relative;
      width: 40%;
      margin:40px;
      z-index: @zindex-modal-background + 10;
      vertical-align:top;

      &.ng-enter {
        animation: fadeInUp 600ms;
      }


      &__header {
        color:contrast(@brand-secondary);
        background: @brand-secondary;
        padding:10px 20px;
        font-size:20px;
        border-bottom:1px solid contrast(@brand-secondary);

        &__close {
          float:right;
          color:contrast(@brand-secondary);
        }
      }

      &__wrapper {

        overflow: auto;
        overflow-y: hidden;

        &__table-view {
          display: block;

          .table-view__error {
            font-size:1.4em;
            position:static;
            padding:20px;
            .translate(0,0);
          }
        }
      }
    }

  }

}
