<div class="main__file__table" ng-class="{ 'main__file__table--has-nested': nestedObjects.length }">
  <table-view class="main__file__table__table-view" read-only="!secret" data="rows"></table-view>

  <div class="main__file__table__nested" ng-if="nestedObjects.length" scroll-to-tail="nestedObjects">
    <div class="main__file__table__nested__item"  ng-repeat="nested in nestedObjects">
      <div class="main__file__table__nested__item__panel" ng-class="{ 'main__file__table__nested__item__panel--disabled': !$last }">
        <div class="main__file__table__nested__item__panel__overlay" ng-click="removeNested(nestedObjects[$index + 1])"></div>
        <div class="main__file__table__nested__item__panel__header">
          <a class="main__file__table__nested__item__panel__header__close btn btn-xs" ng-click="removeNested(nested)">
            <i class="fa fa-caret-left"></i>
            &nbsp; Back
          </a>
        </div>
        <div class="main__file__table__nested__item__panel__wrapper">
          <table-view data="nested.properties" parent="nested.parent" read-only="!secret" class="main__file__table__nested__item__panel__wrapper__table-view"></table-view>
        </div>
      </div>
      <div class="main__file__table__nested__item__overlay" ng-click="removeNested()"></div>
    </div>
    <div class="main__file__table__nested__overlay" ng-click="removeNested()"></div>
  </div>
</div>
