.main__file__table {

  textarea {
    box-sizing: content-box;
  }

  .handsontable {

    table {
      min-width: 100%;
    }

    tr:first-child th {
        border-top:0;
        padding-left:10px;
        padding-right:10px;
        font-weight: bold;
        font-variant: small-caps;
    }
  }
}
