.main {

  .box-shadow(0 0 20px 0 darken(@brand-primary, 5));
  position:absolute;
  overflow: hidden;
  top:30px;
  left:30px;
  right:30px;
  bottom:30px;
  background:white;


  @media (max-width: @screen-sm-max) {
    top:0;
    bottom:0;
    left:0;
    right:0;
  }

  &__editor, .container-fluid, &__editor__drop > form {
    height:100%;
  }

  &__editor {

    &__sidebar {
      background: @brand-secondary;
      height:100%;
      position:relative;
      padding:0 10px;
      color:contrast(@brand-secondary);

      &__brand {
        font-size:1.8em;
        height:47px;
        line-height:47px;
        display: block;
        margin: 0 -10px;
        padding:0 10px;
        margin-bottom: 20px;
        font-weight: bold;
        background: darken(@brand-secondary, 3);
        &:hover, &:active, &:focus { 
          text-decoration: none;
        }

        sup {
          font-size:0.3em;
          opacity:0.7;
          text-transform: uppercase;
          position: relative;
          top:-10px;
        }
      }

      a { color:inherit; }

      &__action {        
        white-space: nowrap;

        .transition(0.4s);
        
        &.ng-hide {
          opacity:0;
          .translate(-100%, 0);
        } 

        &__dropdown {
          min-width:100%;

          & &__active > a {
            font-weight:bold; 
          } 
        }
      }
    }

    &__drop {
      height:100%;
      background:white;
      position:relative;
      padding:0;

      & &__textarea {
        font-size: 14px;
        height: 100%;
        width:100%;
        border:0;
      }

      &__placeholder {
        position: absolute;
        top:50%;
        left:50%;
        max-width:200px;
        text-align: center;
        font-size:2em;
        color:fade(@brand-primary, 40);
        pointer-events: none;
        .translate(-50%, -50%);
        .transition(0.4s);
        &.ng-hide {
          opacity:0;
        }  
      }

      &__footer {
        text-align: right;
        position:absolute;
        right:10px;
        bottom:10px;        

        &__save {
          border-radius: 0;
          border:0;
          .transition(0.3s);

          &[disabled] {
            opacity: 0;
            .translate(0, 100%);
          }
        }
      }
    }

  }
}
