<div class="main">
  <div class="container-fluid">
    <div class="row main__editor">
      <div class="col-sm-2 main__editor__sidebar hidden-xs">
        <a ui-sref="main" class="main__editor__sidebar__brand">
          <i class="fa fa-paper-plane-o fa-fw"></i>&nbsp; Fledit <sup>beta</sup>
        </a>
        <p class="lead">
          Create, share and edit a JSON file in seconds.
        </p>
        <div class="btn-group btn-block main__editor__sidebar__action" dropdown is-open="viewMyFiles" ng-show="myfiles.length">
          <button type="button" ui-sref="main.mine" class="btn btn-primary col-lg-10 col-sm-9">
            Your files
          </button>
          <button type="button" class="btn btn-primary col-lg-2 col-sm-3"  dropdown-toggle>
            <i class="fa fa-caret-down"></i>
          </button>
          <ul class="dropdown-menu main__editor__sidebar__action__dropdown">
            <li ng-repeat="file in myfiles | orderBy:'-updated_at'" ui-sref-active="main__editor__sidebar__action__dropdown__active">
              <a ui-sref="main.file({ id: file._id })">
                {{file.name || "Untitled"}}
              </a>
            </li>
          </ul>
        </div>
        <a class="btn btn-primary btn-block main__editor__sidebar__action" ui-sref="main" ng-hide="'main' | isState">
          New file
        </a>

      </div>
      <div class="col-sm-10 main__editor__drop" ui-view>
        <form  name="editorForm" ng-submit="addFile()">
          <div ui-ace="{mode: 'json', theme: 'clouds'}"  
               ng-model="$parent.newFile"
               required 
               ui-validate="'noParseError($value)'"
               class="main__editor__drop__textarea form-control"></div>        
          <div class="main__editor__drop__footer">
            <button ng-disabled="!editorForm.$valid" class="btn btn-primary btn-lg main__editor__drop__footer__save">
              Publish the new file 
            </button>
          </div>
          <div class="main__editor__drop__placeholder" ng-show="!newFile">
            Copy &amp; past a JSON file here or start typing! 
          </div>
        </form>
      </div>    
    </div>
  </div>
</div>
