<div class="main">
  <div class="main__wrapper" screen-height="400">
    <div class="container-fluid">
      <div class="row main__editor">
        <div class="col-sm-3 col-lg-2 main__editor__sidebar hidden-xs">
          <a ui-sref="main" class="main__editor__sidebar__brand text-center">
            <img src="//logo-js.herokuapp.com/fledit/" class="main__editor__sidebar__brand__logo" width="100" />
            Fledit <sup>beta</sup>
          </a>
          <p class="lead">
            Create, share and edit JSON files in realtime.
          </p>

          <ul class="list-unstyled">
            <li ui-sref-active-eq="active">
              <a class="main__editor__sidebar__action" ui-sref="main">
                <i class="fa fa-plus fa-fw"></i>
                &nbsp; New file
              </a>
            </li>
            <li ui-sref-active-eq="active">
              <a ui-sref="main.mine" class="main__editor__sidebar__action" ui-sref="main.mine" ng-show="myfiles.length">
                <i class="fa fa-files-o fa-fw"></i>
                &nbsp; Your files
              </a>
            </li>
          </ul>

          <div class="main__editor__sidebar__footer">
            <ul class="list-inline main__editor__sidebar__footer__links">
              <li>
                <a ui-sref="page.about">
                  About
                </a>
              </li>
              <li>
                <a ui-sref="page.developer">
                  Developer
                </a>
              </li>
              <li>
                <a ui-sref="page.tos">
                  TOS
                </a>
              </li>
              <li>
                <a target="_blank" href="https://github.com/fledit">
                  Github
                </a>
              </li>
            </ul>
            <form class="main__editor__sidebar__footer__search input-group input-group-sm" ng-submit="search(q)">
              <input type="text" class="form-control" required ng-model="q" />
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-search fa-fw"></i>
                  <span class="sr-only">Search</span>
                </button>
              </span>
            </form>
          </div>
        </div>
        <div class="col-sm-9 col-lg-10 main__editor__drop" ui-view>
          <div class="main__editor__drop__alerts">
            <div class="alert alert-danger text-center main__editor__drop__alerts__item" ng-show="error">
              {{error}}
            </div>
          </div>
          <form  name="editorForm" ng-submit="addFile()">
            <div ui-ace="{mode: 'json', theme: 'clouds'}"
                 ng-model="$parent.newFile"
                 required
                 ui-validate="'noParseError($value)'"
                 class="main__editor__drop__textarea form-control"></div>
            <div class="main__editor__drop__footer">
              <button ng-disabled="!editorForm.$valid" class="btn btn-primary btn-lg main__editor__drop__footer__save">
                Publish the new file
              </button>
            </div>
            <div class="main__editor__drop__placeholder" ng-show="!newFile">
              Start sharing<br />your file now!
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="main__landing"></div>
</div>
