.table-view {

  textarea {
    box-sizing: content-box;
  }

  .handsontable {

    table {
      min-width: 100%;
    }

    thead tr:first-child th {
        border-top:0;
        padding-left:10px;
        padding-right:10px;
        font-weight: bold;
        font-variant: small-caps;
    }

    .handsontable__cell--object a {
      display: block;
      text-align:center;
      text-decoration: underline;
      cursor: pointer;
      font-size: 0.9em;
    }

    .ht_clone_corner,
    .ht_clone_top,
    .ht_clone_left {
      display: none;
    }
  }

  &__error {
    position: absolute;
    top:50%;
    left:50%;
    text-align: center;
    font-size:2em;
    color:fade(@brand-primary, 40);
    .translate(-50%, -50%);
  }
}
