.not-found {
	@corner-bg: darken(@body-bg, 3%);
	color:contrast(@body-bg);
  text-align:center;

  &__title {
    margin-top:100px;
    font-size:10em;
    color:darken(@body-bg, 5);
    text-shadow:2px 2px 0 darken(@body-bg, 30);
  }

  &__body {
    font-size:1.1em;
  }
}
