<form class="main__file__validator" name="validatorForm" ng-submit="submitValidator()">
  <div class="modal-header main__file__validator__header">
    <div class="input-group">
      <input type="url"
             placeholder="URL of the validator on Fledit"
             class="form-control"
             ui-validate="'validUrl($value)'"
             ng-model="validatorUrl" />
      <span class="input-group-btn">
        <button type="submit" ng-disabled="!validatorForm.$valid" class="btn btn-primary">
          Validate
        </button>
      </span>
    </div>
  </div>
  <div class="modal-body main__file__validator__body"
       ng-class="{
        'main__file__validator__body--valid': file.valid === true,
        'main__file__validator__body--invalid': file.valid === false
       }">
    <p class="lead" ng-if="file.valid === null">
      Adding a validator helps you to control that a file respects a given <a href="http://json-schema.org/" target="_blank">JSON schema</a>.
    </p>
    <p class="lead" ng-if="file.valid !== null">
      <span ng-if="file.valid === true">
        <i class="fa fa-check"></i>&nbsp; This file is valid.
      </span>
      <span ng-if="file.valid === false">
        <i class="fa fa-times"></i>&nbsp; This file isn't valid.
      </span>
      <a ng-click="close()" class="btn btn-default pull-right btn-sm" ui-sref="main.file({ id: validator._id })">
        See the validation schema
      </a>
    </p>
  </div>
  <div class="text-right modal-footer well main__file__validator__footer hidden">
    <button ng-click="close()" class="btn btn-primary">
      Close
    </button>
  </div>
</form>
