.main__file__validator {

  &__body {
    margin:0;
    padding-bottom:5px;

    &--valid {
      color: @state-success-text;
    }

    &--invalid {
      color: @state-danger-text;
    }

    &--valid,
    &--invalid {
      background:@gray-lighter;
    }

    &__error {
      background: @state-danger-text;
      color: white;
      padding:20px;
      margin:-5px -20px;

      &__data-path {
        margin-top:10px;
        border-bottom:1px dotted white;
      }
    }


  }

  &__footer {
    margin-bottom: 0;
    border-bottom: 0;
  }

}
