<div class="search">
  <a ui-sref="main" class="search__back">
    <i class="fa fa-caret-left"></i>&nbsp; Back to Fledit
  </a>
  <div class="container">
    <div class="search__content col-lg-6 col-lg-push-3 col-md-8 col-md-push-2">
      <h1 class="search__content__title">Search</h1>
      <form class="search__content__form input-group" ng-submit="submit(search.q)">
        <input type="text" class="form-control" required ng-model="search.q" />
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">
            Search
          </button>
        </span>
      </form>

      <div class="text-center lead search__content__no-results" ng-hide="search.objects.length">
        — No result —
      </div>

      <ul class="list-unstyled search__content__results" infinite-scroll="search.next()", infinite-scroll-disabled='search.busy'>
        <li ng-repeat="file in search.objects" class="search__content__results__item panel panel-default">
          <div class="panel-body">
            <h4 class="search__content__results__item__title">
                <a ui-sref="main.file({ id: file._id })">
                    {{file.name || "Untitled"}}
                </a>
            </h4>
            <p class="text-muted search__content__results__item__meta">
                <a ui-sref="main.file.use({id: file._id})">Use</a>
                —
                <a ui-sref="main.file({id: file._id, secret: file.secret})">Admin link</a>
                —
                Last update <time>{{file.updated_at|date:'short'}}</time>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
